header, footer {
    background-color: #171a21;
    margin: 0px;
}
header {
    position: relative;
    padding-left: 160px;
    padding-right: 160px; 
    height: 80px;
}

#header-imagem {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.user-info h2 {
    display: inline;
    margin-left: 10px;
    font-size: 24px;
    color: #fff;
}
.user-info {
    padding: 2%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.header-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline;
}
footer {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 50px;
}
body {
    color: #fff;
    width: 100%;
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #2a475e;
}
nav.menu {
    width: 100%;
    margin: 0px;
    margin-bottom: 50px;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    background-color: #1b2838;
}
nav.menu ul li {
    display: inline;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
nav.menu ul li a {
    color: #fff;
    text-decoration: none;
}
#conteudo {
    text-align: center;
}

.perfil-atividades-e-info,
#perfil-amigos {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
}
div.perfil-atividades-e-info {
    width: 45%;
    min-width: 700px;
}
div#perfil-amigos {
    margin-left: 50px;
    width: 20%;
    min-width: 500px;
}

div#perfil-info-basica {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.perfil-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline;
}

div#perfil-atividades {
    background-color: #1b2838;
    width: 100%;
    padding-top: 20px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
}
.jogo img {
    width: 80%;
    max-height: 200px;
    min-height: 100px;
    border-radius: 10px;
}


div#lista-de-amigos {
    margin: 0 auto;
    width: 100%;
    border-radius: 20px;
    background-color: #1b2838;
    padding-bottom: 200px;
}
.amigo-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline;
}
.amigo h3 {
    display: inline;
}
.amigo {
    padding-top: 50px;
}

