/* * {
    padding: 0%;
    margin: 0%;
} */

.area-newslatter {
    width: 100%;
    height: 300px;
    display:flex;
}

.area-title-news {
    width: 65%;
    padding-top: 5%;
}

.area-form-news {
    display:flex;
    width: 50%;
    padding-top: 5%;
    padding-left: 15%;
}

.area-form-news form {
    width: 100%;
    display: block;
}

.area-title-news h1, p {
    margin: 0;
    padding-left: 25%;
    padding-right: 5%;
}

.area-title-news h1 {
    font-family:'Lucida Sans', sans-serif;
    font-size: 36px;
}

.area-title-news p {
    padding-top: 15px;
    font-family:'Lucida Sans', sans-serif;
    font-size: 16px;
}

.area-form-news > form > fieldset {
    border: none;
    padding-left: 0;
    margin: 0;
}

.area-form-news > form > fieldset > legend {
    font-family:'Lucida Sans', sans-serif;
    font-size: 22px;
    font-style: bold;
}

.area-form-news > form > fieldset > input {
    border-style: ridge;
    width: 64%;
    height: 25px;
    border-radius: 5px;
    border-color: rgb(222, 222, 222);
} 

.botao-form-news {
    width: 64%;
    height: 30px;
    background-color: #05002B;
    color: white;
    border-color: none;
    border-radius: 5px;
}

.botao-form-news:hover {
    transition-duration: 0.2s;
    background-color: #22196a;
    color: white;
    border-color: none;
    border-radius: 5px;
}

.sobre-news {
    background-color: #05002B;
    width: 100%;
    align-items: center;
    height: 550px;
}

.sobre-news h1 {
    color: white;
    margin: 0;
    text-align: center;
    font-family:'Lucida Sans', sans-serif;
    font-size: 36px;
    padding-top: 30px;
    padding-bottom: 25px;
}

.sobre-news p {
    font-family: 'Lucida Sans', sans-serif;
    color: white;
    text-align: initial;
    padding-left: 400px;
    padding-right: 400px;
    font-size: 26px;
    line-height: 36px;
}